<% provide(:title, 'About Us') %>
<h1>About Us</h1>

<div class="row">
	<div class="span4">
		<ul class="thumbnails">
		  <li class="span4">
		    <div class="thumbnail">
		      <%= link_to image_tag("pics/peris-ray-50.jpg", alt: "Rails"), '#' %>
		      <h5>Take one ...</h5>
		      <p>Thumbnail caption right here...</p>
		    </div>
		  </li>
		</ul>
  		<p>Peris on her wedding day as happy as can be on her way to the church wedding. You can make your function as memorable as this.
		</p>
	</div>
	<div class="span4">
		<ul class="thumbnails">
		  <li class="span4">
		    <div class="thumbnail">
		      <%= link_to image_tag("pics/peris-ray-39.jpg", alt: "Rails"), '#' %>
		      <h5>Take two</h5>
		      <p>Just a few touch ups ...</p>
		    </div>
		  </li>
		</ul>
  		<p>The girls making sure that she bride is well prepared for her groom to be. May the Lord bless this union...
		</p>
	</div>
	<div class="span4">
		<ul class="thumbnails">
		  <li class="span4">
		    <div class="thumbnail">
		    	<%= link_to image_tag("pics/peris-ray-26.jpg", alt: "Rails"), '#' %>
		      <h5>Take three</h5>
		      <p>Last take before the bride leave the us</p>
		    </div>
		  </li>
		</ul>
  		<p># Sample resource route (maps HTTP verbs to controller actions automatically):
		  #   resources :products
		  # Sample resource route with options:
		  #   resources :products do
		  #     member do
		  #       get 'short'
		  #       post 'toggle'
		  #     end
		  #
		  #     collection do
		  #       get 'sold'
		  #     end
		  #   end
		</p>
	</div>
</div>